body{
    background-color:lightblue;
}

h1{
    background-color: black;
    color:red;
}

.xd{
    background-color: black;
    color:red
}

.abc{
    background-color: lightcoral;
    color:blue
}

.blabla{
    background-color:green;
    color:gold
}

.pop{
    color:red;
}